
<div class="col-sm-9  blog-main bg-white">
    <h4 class="titel white-color header-title"><i class="fa fa-users" aria-hidden="true"></i> فرم عضویت  </h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-10">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-3 control-label">نام کاربری</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">نام </label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">نام خانوادگی </label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">تاریخ تولد </label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">جنسیت </label>
                                <div class="col-md-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio">زن
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio">مرد
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">نام شرکت </label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">تحصیلات  </label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">نوع شرکت در همایش  </label>
                                <div class="col-md-9">
                                    <select class="selectpicker col-md-12 " style="font-size:12px">
                                        <option>ارسال مقاله</option>
                                        <option>شرکت در همایش</option>

                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-email">پست الکترونیکی</label>
                                <div class="col-md-9">
                                    <input " name="example-email" class="form-control" placeholder="" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-email">تلفن</label>
                                <div class="col-md-9">
                                    <input name="example-email" class="form-control" placeholder="" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-email">تلفن همراه </label>
                                <div class="col-md-9">
                                    <input name="example-email" class="form-control" placeholder="" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-email">فکس </label>
                                <div class="col-md-9">
                                    <input name="example-email" class="form-control" placeholder="" type="email">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 control-label">آدرس</label>
                                <div class="col-md-9">
                                    <input class="form-control" placeholder="placeholder" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">گذر واژه</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">تکرار گذرواژه</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">کد امنیتی</label>
                                <div class="col-md-9">
                                    <!-- BEGIN REPCAPTCHA -->
                                    <div id="recaptcha_widget" class="form-recaptcha">
                                        <div class="form-recaptcha-img" style="width: 325px">
                                            <a id="recaptcha_image" href="javascript:;"> </a>

                                        </div>
                                        <div class="input-group" style="width: 325px">
                                            <input type="text" class="form-control" id="recaptcha_response_field" name="recaptcha_response_field">
                                            <div class="input-group-btn">
                                                <a class="btn default" href="javascript:Recaptcha.reload()">
                                                    <i class="fa fa-refresh"></i>
                                                </a>

                                                <a class="btn default recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')">
                                                    <i title="Get an image CAPTCHA" class="fa fa-picture-o"></i>
                                                </a>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- END REPCAPTCHA -->
                                    <!-- BEGIN GOOGLE RECAPTCHA -->
                                    <script type="text/javascript">
                                                        var RecaptchaOptions = {
                                                            theme: 'custom',
                                                            custom_theme_widget: 'recaptcha_widget'
                                                        };
                                    </script>
                                    <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcrK9cSAAAAALEcjG9gTRPbeA0yAVsKd8sBpFpR"></script>
                                    <!-- END GOOGLE RECAPTCHA -->
                                </div>
                            </div>




                            <div class="form-group last">
                                <label class="control-label col-md-3">بارگذاری تصویر</label>
                                <div class="col-md-9">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                        <div>
                                            <span class="btn default btn-file">
                                                <span class="fileinput-new btn btn-info btn-xs"> انتخاب عکس </span>
                                                <span class="fileinput-exists btn btn-info btn-xs"> تغییر </span>
                                                <input type="file" name="...">
                                            </span>
                                            <a href="javascript:;" class="btn red fileinput-exists btn-xs" data-dismiss="fileinput"> پاک کردن </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <p style="float:left">

                                <button type="button" class="btn  btn-primary waves-effect waves-light"><i class="fa fa-check" aria-hidden="true"></i>ثبت</button>
                                <button type="button" class="btn  btn-default waves-effect waves-light"><i class="fa fa-times" aria-hidden="true"></i>انصراف</button>

                            </p>

                        </form>
                    </div>
                    <!-- end col -->



                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end col -->
    </div>

</div>
